body {
	font-family: 'Arial', sans-serif;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	width: auto;
}
main {
	width: 1000px;
	margin: auto;
	
}
h1 {
	font-size: 36px;
	font-weight: bold;
	color: #335680;
}
h2 {
	font-size: 30px;
	margin: 20px 5px;
}
h3 {
	font-size: 20px;
	margin: 10px 5px;
	
}
.left {
	width: 340px;
	padding: 20px;
	float: left;
	background-color: #e6e6e6;
}
.left__logo {
	margin-left: 20px;
}
.left__icon {
	display: inline-block;
	background-color: #335680;
	color: white;
	border-radius: 12px;
	width: 25px;
	height: 25px;
	padding: 2px;
	text-align: center;
	margin-bottom: 3px;
}
.left__chart {
	width: 280px;
	height: 20px;
	background-color: #b8b8b8;
	margin: 10px 0px;
}
.left__chart--chart-in {
	width: 200px;
	height: 20px;
	background-color: #335680;
}
.left__chart--chart-in-1 {
	width: 150px;
	height: 20px;
	background-color: #335680;
}

.right {
	margin-left: 350px;
}
.right__heading {
	display: inline-block;
	color: white;
	background-color: #335680;
	border-radius: 4px;
	margin: 10px 0px;
	padding: 3px;
	font-size: 20px;
}
.right__heading-light {
	display: inline-block;
	color: white;
	background-color: #b8b8b8;
	border-radius: 4px;
	margin: 10px 0px;
	padding: 3px;
	font-size: 20px;
}
.right__years {
	width: 100px;
	float: left;
}
.right__text {
	margin-left: 150px
}
